*.o
*.a
*.exe
*.obj
Makefile
Makefile.*
moc_MainForm.cpp
InteriorRedactor.pro.user
debug/
release/
object_script.InteriorRedactor.Debug
object_script.InteriorRedactor.Release
ui_MainForm.h
ui_SceneRedactorForm.h
ui_SceneSizesInput.h
models/